<h1>All Services</h1>
<%= link_to image_tag("logo.gif", ), home_path() %>
<table>
    <% @services.each do |service| %>
    <tr>
        <td> <%= link_to service.name, service%> </td>
    </tr>
    <% end %>
</table>


