<div class="right_column">
<p>
	<%= link_to 'Aggiungi Prodotto', new_product_path()%>
</p>
<p>
	<%= link_to 'Aggiungi Servizio', new_service_path()%>
</p>
<p>
	<%= link_to 'Aggiungi Designer', new_designer_path()%>
</p>
</div>

