<h1>Admin</h1>
	
<div class="right_column">
<div class = "transition">
	<p>
	<%= link_to 'Aggiungi Prodotto', new_product_path()%>
</p>
<p>
	<%= link_to 'Aggiungi Servizio', new_service_path()%>
</p>
<p>
	<%= link_to 'Aggiungi Designer', new_designer_path()%>
</p>
</div>
</div>
