<head>
  <title>Linneo - Contatti</title>
</head>

<body>
<h1>Linneo</h1>
<div class="linneo_landmark">
  <%= link_to 'About Us', linneo_path() %>
  <%= link_to 'Major Products and Techniques', 'productsandtechs' %>
  <%= link_to 'Top Events', 'topevents' %>
  <%= link_to 'PARTNERS', nil %>
</div>
<h2>Contatti</h2>
<h3>Linneo S.r.l.</h3>
<p>Corso Venezia 42 <br />
  20121 Milano (MI)</p>
<br />
<p>Tel: +39 02 1234567<br />
  Fax: +39 02 7654321<br />
  Email: <a href="mailto:info@linneo.com">info@linneo.com</a></p>
<br />
<p>P.IVA 00756473847</p>
</body>