	<style type = "text/css" media = "all">
		div.right_column {
   			 text-indent: 0em;
		}
	</style>
		<h1>Linneo</h1>
		
		<div class="linneo_landmark">
		  <%= link_to 'PARTNERS', partners_path() %>
		  <%= link_to 'Top Events', 'topevents' %>
		  <%= link_to 'Major Products and Techniques', 'productsandtechs' %>
		  <%= link_to 'About Us', linneo_path() %>
		</div>
		
		<h2>Contatti</h2>
		
		<div class = "right_column">
			<h3>Linneo S.r.l.</h3>
			<p>Corso Venezia 42<br/>
			20121 Milano (MI)</p><br/>
			<p>Tel: +39 02 1234567<br/>
		  	Fax: +39 02 7654321<br/>
		  	Email: info@linneo.com</p><br/>
			<p>P.IVA 00756473847</p>
		</div>
