<style type="text/css">
     body {
     background-image:url('/assets/bg.png');
     background-color: #cccccc;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
}

div.landmark {
    position:fixed;
    top:3.75em;
    right:8em;
}
    
    /*Linneo*/
    p:nth-child(2) {
    position: fixed;
    top: 7em;
    right: 27em;
    }
    
    /*Product*/
    p:nth-child(3) {
    position: fixed;
    top: 11em;
    right: 33em;
    }
    
    /*Styles*/
    p:nth-child(4) {
    position: fixed;
    top: 14em;
    right: 20em;
    }
    
    /*Designers*/
    p:nth-child(5) {
    position: fixed;
    top: 17em;
    right: 31em;
    }
    
    /*Services*/
    p:nth-child(6) {
    position: fixed;
    top: 22em;
    right: 19em;
    }
    
    /*Events*/
    p:nth-child(7) {
    position: fixed;
    top: 22em;
    right: 37em;
    }
    
    /*Showroom*/
    p:nth-child(8) {
    position: fixed;
    top: 28em;
    right:19em;
    }
    
    /*Retailers*/
    p:nth-child(9) {
    position: fixed;
    top: 29em;
    right: 37em;
    }
    
div.landmark a:link {
  font-family:arial;
  font-size: 2em;
  font-weight: bold;
  color: #990000;
  text-decoration: none;
  }

div.landmark a:visited {
  color: #990000;
}

div.landmark a:hover {
  color: #FF0000;
}

#partners {
    position:fixed;
    top:35em;
    right:27em;
}

#admin a {
    position:fixed;
    top:0;
    right:0.2em;
    color: #000066;
    text-align:center;
    font-size: 1.3em;
    margin-right: 1em; 
    font-weight: bold;  
}

#admin a:visited {
  color: #000066;
}

#admin a:hover {
  color: #0033cc;
}

#partners a {
  font-family:arial;
  font-size: 2em;
  font-weight: bold;
  color: #990000;
  text-decoration: none;
}

#partners a:visited {
  color: #990000;
}

#partners a:hover {
  color: #FF0000;
}

</style>

<p id="partners"><%= link_to "PARTNERS", partners_path()%></p>
<p id="admin"><%= link_to ">>>Admin<<<", admin_path()%></p>