<style type="text/css">
     body{
     background-image:url('/assets/bg.png');
     background-attachment: fixed;
}
div.landmark{
    position:fixed;
    top:60px;
    right:80px;
}
    /*Linneo*/
    p:nth-child(2) {
    position: fixed;
    top: 180px;
    right: 480px;
    }
    /*Product*/
    p:nth-child(3) {
    position: fixed;
    top: 230px;
    right: 610px;
    }
    /*Styles*/
    p:nth-child(4) {
    position: fixed;
    top: 19em;
    right: 25em;
    }
    /*Designers*/
    p:nth-child(5) {
    position: fixed;
    top: 20em;
    right: 35em;
    }
    /*Services*/
    p:nth-child(6) {
    position: fixed;
    top: 300px;
    right: 400px;
    }
    /*Events*/
    p:nth-child(7) {
    position: fixed;
    top: 30px;
    right: 740px;
    }
    /*Showroom*/
    p:nth-child(8) {
    position: fixed;
    top: 30px;
    right: 400px;
    }
    /*Retailers*/
    p:nth-child(9) {
    position: fixed;
    top: 30px;
    right: 740px;
    }
    
a:link {
  font-family:arial;
  font-size: 34px;
  font-weight: bold;
  color: #da0202;
  text-decoration: none;
  }    /* unvisited link */

a:visited{
  color:#880000;
}

a:hover {
  color: #FF0000;
}   /* mouse over link */

</style>

<h1 class="home">FILL YOUR SPACE</h1>
<div class="landmark"><p><%= link_to "PARTNERS", partners_path()%></p></div>
<p></p><%= link_to ">>>Admin<<<", admin_path()%></p>


