<h1>Designer</h1>
    <h2><%= @designer.name+" "+@designer.last_name%></h2>
    <p> <%= @designer.bio %> </p>
    <p><%= link_to "Prodotti del designer", products_path(:designer_id => @designer.id) %></p>