// Place all the styles related to the Designers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.designer {
  height: 10em; 
  float: right;
  margin-right: 1.2em;
  max-width: 20em;
}

.No_implementati {
  margin-top: 1em;
}

.No_implementati > span {
  margin-right: 2em;
}

.tabella {
  margin-left: 20em;
  margin-top: 8em;
}