// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.home {
  background-image:url('bg.png');
}
h1.home {
  color: #3300cc;
  position: fixed;
  top: 100px;
  left: 150px;
  font-family: arial;
  font-size: 44px;
  font-style: italic;
  font-weight: bold;
  font-variant: normal;
  letter-spacing: 5px;
  line-height: 20px;
}

div.landmark{


a:link {
  font-family:arial;
  font-size: 34px;
  font-weight: bold;
  color: #FF0000;
  text-decoration: none;
  }    /* unvisited link */
a:hover {
  background-color:#FFFFF0;
  text-decoration: underline;
  font-size: 44px;
  }   /* mouse over link */
a:visited{
  color:#880000;
}
a:active {background-color:#FF704D;}  /* selected link */
}

