// Place all the styles related to the Linneo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.linneo_landmark a:link {
  margin-top: 1em;
  font-size: 1.3em;
  color: #333333;
  float: right;
  text-decoration: none;
  margin-right: 0.8em;
  margin-left: 0.4em;
}

.linneo_landmark a:visited{
  color: #333333;
}

.linneo_landmark a:hover {
  color: #666666;
}   /* mouse over link */

*.image_right {
    float: right;
    margin-left: 1.7em;
    height: 17em;
}