// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_image {
  width: 17em;
  height: 11em;
}

table.product_table {
  width: 60em;
}

